main{
    display: grid;

    grid-template-columns: 20vw 90vw;
    grid-template-rows: 50vh 50vh;
    border: 1px solid #000;

    .main-game-screen-equipment{
        grid-column: 1;
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        margin: 0;
        border: #000 1px solid;
    }
    .main-game-screen-quest{
        grid-column: 1;
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        margin: 0;
        border: #000 1px solid;

    }
    .main-game-screen-map{
        grid-column: 2;
        grid-row: 1 / 3;
        padding: 0;
        margin: 0;
        border: #000 1px solid;

    }

    
}

