

.menu{ // To jest Menu Bohatera
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    button{
        border: 1px solid #fff;
        background-color: #000;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover{
            background-color: #fff;
            color: #000;
        }
    }
}

main.phoneView{ // To jest ekran do głosowania
    background-color: #000;
    color: #fff;
    height: 80vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 40vh 40vh;
    .game-voting__item{
        border: 1px solid #fff;
        border-radius: 5px;
        margin: 10px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;          
        justify-content: center;

        }
    button{
        border: 1px solid #fff;
        background-color: #000;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover{
            background-color: #fff;
            color: #000;
        }
    }
}



.game-voting{
    .hero-menu{
        display: flex;
        flex-direction: row;
        .hero-image{
            width: 100px;
            height: 100px;
            object-fit: cover;
            border: #000 1px solid;
        }
    }
}

.user-guide__content{
    height: 15vh;
    overflow-y: scroll;
    border: #000 1px solid;
    // scrollbar do zmiany na inny, lepszy
    .user-guide-img{
        width: 50px;
        height: 50px;
        border: #000 1px solid;
    }
}
