.main-game-screen-map__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    .tile{
        border: 1px solid #000;
        width: 50vw;
        height: 50vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        div.player{
            width: 10px;
            height: 10px;
            margin: 20px;
            background-color: #000;
            border-radius: 50%;
        }
    }
}