.main-game-screen-map__content{
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
    grid-template-columns: repeat(7, calc(80vw/7));
    grid-template-rows: repeat(7, calc(100vh/7));
    grid-auto-flow: row;
    .tile{
        border: 1px solid black; 
       div{
        height: 100%;
        width: 100%;
        position: absolute;
            img{
                position: relative;
                border: 1px solid  black;
            }
            .hero-img{
                z-index: 2;
                object-fit: cover;
                height: 50px;
                width: 50px;
            }
            .map-img{
                z-index: 1;
                object-fit: cover;
                height: 100px;
                width: 100px;
            }
       }
    }
    .player-hero{
        display: flex;
        text-align: center;
        align-content: center;
    }
}
