.Select_game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    .card{
        position: relative;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .games_count{
            position: absolute;
            top: -10px;
            right: -15px;
            background-color: red;
            padding: 5%;
            border-radius: 50%;
            font-weight: bold;
        }
        .Game_title{
            font-size: 20px;
            font-weight: bold;
            padding: 10px;
            text-align: center;
        }
        .Game_createdBy{
            font-size: 15px;
            padding: 10px;
            text-align: center;
        }
        .button{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

        }
        button{
            margin: 10px;
            padding: 10px;
            border: 1px solid #000;
            border-radius: 5px;
            background-color: #fff;
            align-self: center;

            cursor: pointer;
            &:hover{
                background-color: #000;
                color: #fff;
            }
        }

    }
}

.new-game{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    .new-game-pin__content{
        text-align: center;
        padding: 5%;
        font-size: 150px;
    }
    .new-game_start-button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        button{
            margin: 10px;
            padding: 10px;
            border: 1px solid #000;
            border-radius: 5px;
            background-color: #fff;
            align-self: center;
            cursor: pointer;
            &:hover{
                background-color: #000;
                color: #fff;
            }
        }


    }
    .new-game-players__content{
        width: 90vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 10px;
        .player{
            padding: 20px;
            border: 1px solid #000;
            border-radius: 5px;
            margin: 10px;
        }
    }
}